In [2]:
import pandas as pd
import sqlite3

# Create a SQLite database in memory
conn = sqlite3.connect(':memory:')

# Load CSV files into pandas DataFrames
departments_df = pd.read_csv('/mnt/data/departments.csv')
dept_emp_df = pd.read_csv('/mnt/data/dept_emp.csv')
dept_manager_df = pd.read_csv('/mnt/data/dept_manager.csv')
employees_df = pd.read_csv('/mnt/data/employees.csv')
salaries_df = pd.read_csv('/mnt/data/salaries.csv')
titles_df = pd.read_csv('/mnt/data/titles.csv')

# Write the DataFrames to the SQLite database
departments_df.to_sql('departments', conn, index=False)
dept_emp_df.to_sql('dept_emp', conn, index=False)
dept_manager_df.to_sql('dept_manager', conn, index=False)
employees_df.to_sql('employees', conn, index=False)
salaries_df.to_sql('salaries', conn, index=False)
titles_df.to_sql('titles', conn, index=False)

FileNotFoundError: [Errno 2] No such file or directory: '/mnt/data/departments.csv'

In [3]:
queries = {
    "Query 1": """
        SELECT e.emp_no, e.last_name, e.first_name, e.sex, s.salary
        FROM employees e
        JOIN salaries s ON e.emp_no = s.emp_no
    """,
    "Query 2": """
        SELECT first_name, last_name, hire_date
        FROM employees
        WHERE strftime('%Y', hire_date) = '1986'
    """,
    "Query 3": """
        SELECT dm.dept_no, d.dept_name, dm.emp_no, e.last_name, e.first_name
        FROM dept_manager dm
        JOIN departments d ON dm.dept_no = d.dept_no
        JOIN employees e ON dm.emp_no = e.emp_no
    """,
    "Query 4": """
        SELECT de.dept_no, de.emp_no, e.last_name, e.first_name, d.dept_name
        FROM dept_emp de
        JOIN employees e ON de.emp_no = e.emp_no
        JOIN departments d ON de.dept_no = d.dept_no
    """,
    "Query 5": """
        SELECT first_name, last_name, sex
        FROM employees
        WHERE first_name = 'Hercules' AND last_name LIKE 'B%'
    """,
    "Query 6": """
        SELECT e.emp_no, e.last_name, e.first_name
        FROM employees e
        JOIN dept_emp de ON e.emp_no = de.emp_no
        JOIN departments d ON de.dept_no = d.dept_no
        WHERE d.dept_name = 'Sales'
    """,
    "Query 7": """
        SELECT e.emp_no, e.last_name, e.first_name, d.dept_name
        FROM employees e
        JOIN dept_emp de ON e.emp_no = de.emp_no
        JOIN departments d ON de.dept_no = d.dept_no
        WHERE d.dept_name IN ('Sales', 'Development')
    """,
    "Query 8": """
        SELECT last_name, COUNT(*) as frequency
        FROM employees
        GROUP BY last_name
        ORDER BY frequency DESC
    """
}

# Execute the queries and print the results
results = {}
for query_name, query in queries.items():
    results[query_name] = pd.read_sql_query(query, conn)

results

DatabaseError: Execution failed on sql '
        SELECT e.emp_no, e.last_name, e.first_name, e.sex, s.salary
        FROM employees e
        JOIN salaries s ON e.emp_no = s.emp_no
    ': no such table: employees